@media (max-width: 991px) {
  .advantages {
    padding: 60px 0;
    &__items {
      margin-top: 34px;
      grid-template: repeat(3, 250px) / 50% 50%;
    }
    &__item {
      &-substrate {
        height: 130px;
      }
      &-text {
        font-size: 18px;
        line-height: 20px;
      }
    }
  }
}

@media (max-width: 767px) {
  .advantages {
    padding: 40px 0;
    &__items {
      grid-template: repeat(3, 200px) / 50% 50%;
    }
    &__item {
      &-substrate {
        height: 100px;
      }
      &-text {
        font-size: 15px;
        line-height: 18px;
      }
    }
  }
}

@media (max-width: 575px) {
  .advantages {
    order: 5;
    padding: 20px 0;
    &__title {
      width: 100%;
    }
    &__items {
      margin-top: 18px;
      grid-template: repeat(6, 230px) / 100%;
    }
    &__item {
      &-text {
        font-size: 16px;
      }
    }
  }
}